html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/** Globales **/

body {
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}
p {
   font-size: 1.8rem;
   font-family: Arial, Helvetica, sans-serif; 
   color: var(--blanco);
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
.comtenedor {
    max-width: 110rem;
    margin: 0 auto;
}

h1, h2, h3 {
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuente);
}
h1 { font-size: 4rem; }
h2 { font-size: 3.2rem; }
h3 { font-size: 2.4rem; }

header {
    width: 100%;
    height: 80px;
    background-color: #233b55;
    display: flex;
}

header > div {
    width: 50%;
}
.comtenedor {
    max-width: 110rem;
    margin: 0 auto;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}
.producto {
    background-color: var(--primarioOscuro);
    padding: 1rem;
}
.producto__nombre {
    font-size: 4rem;
}
.producto__precio {
    font-size: 2.8rem;
    color: var(--secundario);
}
.producto__nombre,
.producto__precio {
    font-family: var(--fuente);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}
.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.formulario__campo {
    border-color: var(--primarioOscuro);
    border-width: 1rem;
    border-style: solid;
    background-color: transparent;
    color: var(--blanco);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    text-align: center;
}
.formulario__submit {
    background-color: var(--secundario);
    border-radius: 8px;
    font-size: 1.8rem;
    font-family: var(--fuente);
    padding: .8rem;

}
.formulario__submit:hover {
    cursor: pointer;
    background-color: var(--secundarioOscuro);
}












.galeria img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}


input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 5px 10px;
}

.button {
    padding: 5px 10px;
    border: none;
    color:white;
    border-radius: 5px;
}
.display-4 {
    font-size: calc(1.475rem + 2.7vw);
    font-weight: 300;
    line-height: 1.2;
  }
  @media (min-width: 1200px) {
    .display-4 {
      font-size: 3.5rem;
    }
  }

.button.primary {
    background-color: #2B6CB0;
}

.button.secondary {
    background-color: #4A5568;
}


.contenedor_logo {
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
    margin-left: 20px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

nav > ul {
    margin-right: 20px;
}

nav > ul > li {
    display: inline;
    margin-left: 10px;
}

nav > ul > li > a {
    color:white;
    text-decoration: none;
}
.productos {
    display: flex;
    flex-wrap: wrap;
}

@keyframes animacion_producto_desktop {
    0% {
        transform: rotate(-20deg);
        opacity: 0;
    }

    100% {
        transform: rotate(0);
        opacity: 1;
    }
}


.productos .producto {
    width: 25%;
    margin-top: 15px;
    animation: animacion_producto_desktop 0.5s;
}

.productos .producto img {
    width: 80%;
    height: 200px;
    object-fit: cover;
}

.productos .producto .contenedor_producto {
    background-color: white;
    width: 80%;
    margin:auto;
}

.productos .producto .detalles {
    padding: 5px;
}


/*FOOTER*/

footer {
    width: 100%;
    height: 100px;
    background-color: #2D3748;
}

footer .marcas {
    width: 100%;
    height: 100px;
    background-color: #4A5568;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .marcas img {
    width: 50px;
}

footer .logo_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height:calc(100% - 100px);
}

footer .logo_footer img {
    width: 100px;
}

.menu {
    width: 40px;
    position: absolute;
    left: 10px;
    top: 10px;
    display: none;
}

label.error {
    color: darkred;
}

input.error {
    border: 2px solid darkred;
}


/*MEDIA QUERIES*/

/*TABLET*/

@media(max-width:1024px) {

    .galeria {
        grid-template-columns:1fr 1fr;
    }

    @keyframes animacion_producto_tablet {

        0% {
            opacity: 0;/*0-1*/
        }

        100% {
            opacity: 1;
        }

    }

    .productos .producto {
        width: 50%;
        animation: animacion_producto_tablet 2s;
    }

}

/*SMARTPHONE*/
@media(max-width:480px) {

    .galeria {
        grid-template-columns: 1fr;
    }

    .menu {
        display: block;
    }

    @keyframes animacion_producto_smartphone {

        0% {
            transform: scale(0.1);/*0 - 1*/
        }

        80%{
            transform: scale(1.05);
        }

        100% {
            transform: scale(1);
        }
    }


    .productos .producto {
        width: 100%;
        animation: animacion_producto_smartphone 0.8s;
    }

    header {
        flex-direction: column;
        height: 60px;
        transition: all 0.8s;
        /*position: fixed;
        left:0;
        top:0;*/
        overflow: hidden;
    }

    #contenido {
        margin-top: 60px;
    }

    header > div {
        width: 100%;
    }

    nav {
        justify-content: center;
    }

    .contenedor_logo {
        justify-content: center;
    }

    .logo {
        margin-top: 15px;
    }

    nav > ul {
        margin-right: 0;
    }

    nav > ul > li {
        display: block;
        margin:0;
        text-align: center;
        padding: 20px 0;
    }

}

