:root {
    --blanco: #FFF;
    --fondo: #21232a;
    --segundario: #4A5568;
    --terceario: #7cf83e; 
    --fuente: "Bebas Neue", sans-serif;;      
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/** Globales **/

body {
    background-color: var(--fondo);
    font-size: 1.6rem;
    line-height: 1.5;
}
a {
    text-decoration: none;
}
img {
    width: 100%;   
}
.img__producto {
    width: 30rem;
    height: 30rem;
    border-radius: 20px;
}
.img__about {
    width: 35rem;
    height: 38rem;
    border-radius: 8rem;
}
.contenedor {
    max-width: 110rem;
    margin: 0 auto;
}
.titulos {
    margin: 5rem;
    color: var(--terceario);

}
h1, h2, h3, h4 {
    text-align: center;
    color: var(--blanco);
    font-family: var(--fuente);
    margin: 0%;
}
h1 { font-size: 5rem; }
h2 { font-size: 3rem; }
h3 { font-size: 2.4rem; }
h4 { font-size: 1.8rem; color: var(--terceario);}
p  {
    font-size: 2rem;
    color: var(--blanco);
    font-family: var(--fuente);
    line-height: 1.6;
    text-align: center;
}
header {
    width: 100%;
    height: 80px;
    background-color: #233b55;
    display: flex;
}

header > div {
    width: 50%;
}
.contenedor {
    max-width: 110rem;
    margin: 0 auto;
}
.contenedor__busqueda {
    max-width: 40rem;
    margin: 0 auto;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}
.grid_detalles {
    max-width: 70rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
}
.grid_detalles--descripcion {
    margin-top: 5rem;
}
.producto {
    background-color: var(--primarioOscuro);
    padding: 1rem;
}
/* ABOUT */
.dos__columnas {
    display: grid;
    grid-template-columns: 40% 60%;
}
.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.formulario__campo {
    border-color: var(--primarioOscuro);
    border-width: 1rem;
    border-style: solid;
    background-color: transparent;
    color: var(--blanco);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    text-align: center;
}
input[type=text], input[type=email], select, textarea {
    padding: .7rem 5rem;
    
}
form {
    color: #FFF;
    font-size: 2.5rem;
}
.button {
    background-color: var(--blanco);
    padding: .4rem 1rem;
    border: none;
    color: var(--segundario);
    border-radius: 5px;
    margin: 1rem;
    
}
.button:hover {
    cursor: pointer;
    background-color: var(--terceario);
}
.contenedor_logo {
    display: flex;
    align-items: center;
}
.logo {
    width: 100px;
    margin-left: 20px;
}
nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}
nav > ul {
    margin-right: 20px;
}
nav > ul > li {
    display: inline;
    margin-left: 10px;
}
nav > ul > li > a {
    color:white;
    text-decoration: none;
}
.usuario {
    color: var(--terceario);
}

/*FOOTER*/

footer {
    width: 100%;
    height: 100px;
    background-color: #2D3748;
    margin-top: 10rem;
}
footer .marcas {
    width: 100%;
    height: 100px;
    background-color: #4A5568;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .marcas img {
    width: 6rem;
}