{% extends 'myApp/base.html' %}
{%block contenido%}
{% load static %}

<h1 class="titulos"> Sobre mi</h1>

<main class="contenedor dos__columnas" >

    <div>
                   
        <img class="img__about" src= "{% static "myApp/img/about1.png" %}" alt="..." /></div>
        
        <p> 
            Mi nombre Juan  Miguel Salave, Naci en Caracas la capital de
            Venezuela estudie secundaria en un colegio catolico,
            Luego de ello 5 años de carrea univercitaria donde estudie Igeneria Mecanica en la Universidad NacionaExperimentaldeTáchira    (UNET).
            Trabaje en una petrolera llamada Baker Hughes durante casi 5 años donde me plantie irme a vivir a otro pais, asque acestoy Argentina actualmente en capital federal.
            Durante la univercidad estudie varios topicos (temas) relacionados con la programacion vimos un programa llamadRAPTOR ques fundamentalmente un programa que proporciona un entorno de programación basado en diagramas de flujy siempre me quedla  curiosidada, 
            empece con algo muy basico de Python con la libreria tKinter en la Universidad Tecnológica Nacional (UTN) deallquisprofundisar     mas y me recomendaron el python que estudie aca.
            Actual mente ejerzo como jefe de taller de un concesionario de autos de la maraca Peugeot.
            hoby: Hockey sobre Hielo y Rollers y tambien Crossfit.
        </p>
        
    </div>
</main>
{%endblock%}