{% load static %}
<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Staatliches&display=swap" rel="stylesheet">
    <title>SuperStore</title>
    <link rel="stylesheet" href="{% static 'myApp/css/estilos.css' %}">
</head>
<body>
    
<header id="contenedor_logo">
    <div class="contenedor_logo">
        <img src="{% static 'myApp/img/superstore.png' %}"alt="logo" class="logo" style="width: 180px;">
    </div>
    <div>
        <nav id="nav">
            <ul>
                <li>    <a href={% url 'Home' %}>Home</a>   </li>
                
                <li>    <a href={% url 'About' %}>About</a>   </li>
                    
                <li>    <a href={% url 'Buscar' %}>Buscar</a>   </li>
                
                <li>    <a href={% url 'Vender' %}>Vender</a>   </li>
                
                <li>    <a href={% url 'Lista' %}>Comprar</a>   </li>
                    
                {% if user.is_authenticated %}
                    <li>    <a href={% url 'Logout' %}>Salir</a>  </li>
                                    
                    <li>    <a class="usuario" href='#'>{{user.username | upper}}</a>   </li>
                                   
                {% else %}
                    <li>    <a href={% url 'Login' %}>Ingresar</a>    </li>
                    <li>    <a href={% url 'Registro' %}>Registrarse</a>    </li>
                                   
                {% endif  %}
            </ul>
        </nav>
    </div>
</header>
    <div id="contenido">

            {%block contenido%}

            {%endblock%}

    </div>

    <footer >
        <div class="marcas">
                <img src="{% static 'myApp/img/apple.png' %}" alt="apple">
                <img src="{% static 'myApp/img/lenovo.png' %}" alt="lenovo">
                <img src="{% static 'myApp/img/microsoft.png' %}" alt="microsoft">
                <img src="{% static 'myApp/img/samsung.png' %}" alt="samsung">
                <img src="{% static 'myApp/img/xiaomi.png' %}" alt="xiaomi">
        </div>
    </footer>
</body>
</html>