{% extends 'myApp/base.html' %}
{%block contenido%}
{% load humanize %}

<h1 class="titulos"> Encuentre su producto</h1>

<section class="contenedor__busqueda">    
    <form method="POST">   {% csrf_token %}  

        <div>            
            {{ formu.as_table }}
            
            <input class="button" type="submit" value="Buscar">
        </div>
    </form>
</section>

<section class="contenedor">
    <div class="grid">
            {% for i in descripcion%}
            <div class="productos">

                <div class="img__producto">
                    <img class="img__producto" src="{{ i.imagen_uno.url }}" alt='img'>
                </div>

                <div class="detalles">
                    <h3> {{ i.descripcion | title }} - {{ i.marca | capfirst }} </h3>
                    <h3> {{ i.nombre_vendedor | title }} - {{ i.telefono}} </h3>
                    <h4> {{ i.precio | intcomma }} USD </h4>
                </div>
            </div>
            {% endfor %}
    </div>
</section>

{%endblock%}


