{% extends 'myApp/base.html' %}
{%block contenido%}
{% load humanize %}

<main class="contenedor">
    <h1>Productos</h1>

    <div class="grid">

        {% for i in producto%}
            <div class="producto">
                <a href="{% url 'Ver' i.id %}">
                    <div>
                        <img src="{{ i.imagen_uno.url }}" alt='img'>
                    </div>

                    <div>
                        <p class="producto__nombre">{{ i.descripcion | title }}</p>

                        <p class="producto__precio">{{ i.marca | capfirst }}</p>

                        <p class="producto__precio">{{ i.precio | intcomma }}USD</p>
                </div>
                </a>
            </div>
        {% endfor %}
    </div>

</main>

{%endblock%}