{% extends 'myApp/base.html' %}
{%block contenido%}
{% load humanize %}

<main class="contenedor">
    <h1 class="titulos">Productos</h1>

    <div class="grid">

        {% for i in producto%}
            <div class="producto">
                <a href="{% url 'Ver' i.id %}">
                    <div class="img__producto">
                        <img class="img__producto" src="{{ i.imagen_uno.url }}" alt='img'>
                    </div>

                    <div>
                        <h3 class="producto__nombre">{{ i.descripcion | title }}</h3>

                        <h3 class="producto__precio">{{ i.marca | capfirst }}</h3>

                        <h4 class="producto__precio">{{ i.precio | intcomma }} USD</h4>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

</main>

{%endblock%}