{% extends 'myApp/base.html' %}
{%block contenido%}
{% load humanize %}

<main class="comtenedor">
    <h1>Productos</h1>

    <div class="grid">

        {% for i in producto%}
            <div class="producto">

                <div>
                    <img src="{{ i.imagen_uno.url }}" alt='img'>
                </div>

                <div>
                    <p class="producto__nombre">
                        <a href="{% url 'Ver' i.id %}">{{ i.descripcion | title }}</a>
                    </p>

                    <p class="producto__precio">{{ i.marca | capfirst }}</p>

                    <p class="producto__precio">${{ i.precio | intcomma }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

</main>

{%endblock%}